{{!-- <nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">The New York Times</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/saved">Saved Articles</a></li>
            <li><a href="/scrape">Scrape</a></li>
            <li><a href="/clearall">Clear Articles</a></li>
            <li><a href="https://github.com/Sandy12-code/scrape_app" target="_blank">Git Repo</a></li>
        </ul>
    </div>
</nav> --}}