<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    {{!-- Materialize Icons --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    {{!-- Google Font --}}
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <!-- tab icon -->
    <link rel="shortcut icon" href="/public/assets/images/news-icon.png" />
    <title>The New York Times</title>
</head>

<body>
<nav>
      <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">The New York Times</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/saved">Saved Articles</a></li>
            <li><a href="/scrape">Scrape</a></li>
            <li><a href="/clearall">Clear Articles</a></li>
            <li><a href="https://github.com/Sandy12-code/scrape_app" target="_blank">Git Repo</a></li>
            {{!-- <li><a href="/scrape">Scrape</a></button></li>
            <li><a href="/clearall">Clear Articles</a></li> --}}
            {{!-- <li><a href="https://github.com/Sandy12-code/scrape_app" target="_blank">Git Repo</a></li> --}}
        </ul>
    </div>
</nav>

{{#if img_src}}
    <img src="{{{../assets/images/newspaper.jpg}}}" alt="news"/>
{{/if}}

    {{{ body }}}

   
</body>

<footer class="bottom-nav">
    <div class="footer-copyright">
        <div class="container">
            All articles belong to <a id= "nyt" href='https://www.nytimes.com/' target="_blank">The New York Times</a>
            {{!-- <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a> --}}
        </div>
    </div>
</footer>


 <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<html>